.header {
    padding: 2rem 12rem;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 2.4rem;
}

.header__logo span {
    color: var(--orange);
}

.header__button {
    display: flex;
}

.header__button a {
    font-size: 1.4rem;
    margin-right: 1.5rem;
    cursor: pointer;
    transition: .2s ease;

    display: flex;
    align-items: center;
}

.header__button a:hover {
    color: var(--orange);
}

.button__cta {
    color: var(--light);
    padding: 1.5rem;
    border: 0;

    background: var(--orange);
    transition: .2s ease;
    border-radius: .5rem;
    cursor: pointer;
}

.button__cta:hover {
    background: var(--orange-200);
}